.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Body {
  margin: 0 auto;
  border-style:inset;
  border-radius: 20px;
  border-color: orange;
  border-width: 5px;
  height: 50%;
  width: 50%;
  padding: 3%;
}
.Text-center{
  text-align: center;
}
.Inbox{
  margin:30%;

}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  /* For your border-radius: */
  border-radius: 4px;
  /* This will offer the illusion that it's adopting the
  background beneath it as its own but lightening it --
  almost like IOS. */
  background: rgb(200, 102, 206);
  opacity: .4;
}

/* Then maybe something like */
button:hover {
  background: rgb(255, 0, 208);
  opacity: .4;
}
